<div class="page-header">
    {{ vm.propertyOne }}'s Colleges
    <span class="label label-default">{{vm.colleges.items.length}}</span>
</div>
<div class="panel">
    <div class="input-group">
        <input class="form-control" ng-model="vm.collegename" />

        <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="vm.addCollege()">Add</button>
        </span>
    </div>
    <div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Founding Member</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="college in vm.colleges.items |
                        orderBy: 'name'">
                    <td>{{ college.name | uppercase }}</td>
                    <td>{{ college.city | lowercase }}</td>
                    <td>{{ college.founder }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
